
html, body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}


a{
    color: inherit;
    text-decoration: none;
    text-decoration-color: inherit;
}

.chesstext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  whitesmoke;
    text-align: left;
    font-size: 9.089vw;
    font-weight: 700;
    margin-top:0vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 0vh;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px){
    .chesstext{
        font-size: 14.089vw;
    }
}


@media only screen and (max-width: 800px) {
    .chesstext{
        font-size: 18.089vw;
    }
}

@media only screen and (max-width: 625px) {
    .chesstext{
        font-size: 27.089vw;
    }
}

@media only screen and (max-width: 500px)
{
    .chesstext{
        font-size: 32.089vw;
    }
    
}

.subchesstext{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 4.624vw;
    padding-left: 5vw;
    font-weight: 500;
    padding-top: -1vw;
    margin-top: -7.5vw;
    margin-right: 5vw;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px)
{
    .subchesstext{
        font-size: 6.624vw;
        margin-top: -10vw;
    }
}

@media only screen and (max-width: 800px) {
    .subchesstext{
        font-size: 8.624vw;
        margin-top: -15vw;
    }
}

@media only screen and (max-width: 625px) {
    .subchesstext{
        font-size: 12.089vw;
        margin-top: -22.5vw;
    }
}

@media only screen and (max-width: 500px)
{
    .subchesstext{
        font-size: 14.089vw;
        margin-top: -27.5vw;
    }
    
    
}

.timelinetext{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 2.24vw;
    padding-left: 5vw;
    margin-bottom: 7.5vh;
    margin-right: 5vw;
    font-weight: 500;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px)
{
    .timelinetext{
        font-size: 2.85vw;
    }

}

@media only screen and (max-width: 800px) {
    .timelinetext{
        font-size: 3.24vw;
    }
}

@media only screen and (max-width: 625px) {
    .timelinetext{
        font-size: 4.24vw;
    }
}

@media only screen and (max-width: 500px)
{
 
    .timelinetext{
        font-size: 5.24vw;
    }
    
}

.fillchesstext{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 1.461vw;
    padding-left: 5vw;
    font-weight: 500;
    padding-top: 5vw;
    margin-top: -7.5vw;
    margin-right: 5vw;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
    opacity: 100%;
}
@media only screen and (max-width: 1000px)
{
    .fillchesstext{
        font-size: 2.061vw;
    }
}

@media only screen and (max-width: 800px) {
    .fillchesstext{
        font-size: 2.861vw;
    }
}

@media only screen and (max-width: 625px) {
    .fillchesstext{
        font-size: 3.761vw;
    }
}
@media only screen and (max-width: 500px)
{
    
    .fillchesstext{
        font-size: 4.761vw;
    }
    
}


.ndtitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: right;
    font-size: 3.783vw;
    padding-right: 5vw;
    font-weight: 700;
    padding-top: 18vh;
    margin-top: -5vw;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px)
{
    .ndtitle{
        font-size: 5.783vw;
    }
}

@media only screen and (max-width: 800px) {
    .ndtitle{
        font-size: 6.783vw;
    }
}

@media only screen and (max-width: 625px) {
    .ndtitle{
        font-size: 9.783vw;
    }
}
@media only screen and (max-width: 500px)
{
    .ndtitle{
        font-size: 11.783vw;
    }
    
    
}

.ndtitleWhy{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: right;
    font-size: 3.783vw;
    padding-right: 5vw;
    font-weight: 700;
    margin-top: 2vh;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px)
{
    .ndtitleWhy{
        font-size: 4.783vw;
    }
}

@media only screen and (max-width: 800px) {
    .ndtitleWhy{
        font-size: 6.783vw;
    }
}

@media only screen and (max-width: 625px) {
    .ndtitleWhy{
        font-size: 9.783vw;
    }
}

@media only screen and (max-width: 500px)
{
    .ndtitleWhy{
        font-size: 11.783vw;
    }
    
}

.ndtext{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 1.561vw;
    padding-right: 5vw;
    margin-left: 5vw;
    text-align: right;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

@media only screen and (max-width: 1000px)
{
    .ndtext{
        font-size: 2.261vw;
    }
}

@media only screen and (max-width: 800px) {
    .ndtext{
        font-size: 2.761vw;
    }
}

@media only screen and (max-width: 625px) {
    .ndtext{
        font-size: 4.061vw;
    }
}

@media only screen and (max-width: 500px)
{
    .ndtext{
        font-size: 5.061vw;
    }
    
    
}

.rdtitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 3.783vw;
    padding-left: 5vw;
    margin-bottom: 0;
    font-weight: 700;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px)
{
    .rdtitle{
        font-size: 4.783vw;
    }
}

@media only screen and (max-width: 800px) {
    .rdtitle{
        font-size: 6.783vw;
    }
}

@media only screen and (max-width: 625px) {
    .rdtitle{
        font-size: 9.783vw;
    }
}

@media only screen and (max-width: 500px)
{
    .rdtitle{
        font-size: 11.783vw;
    }
    
    
    
}

.rdtext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 1.361vw;
    padding-left: 5vw;
    line-height: 1.5;
    margin-top: 4vh;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
  }

  @media only screen and (max-width: 1000px)
{
    .rdtext {
        font-size: 1.961vw;
    }
}
  @media only screen and (max-width: 800px) {
    .rdtext {
        font-size: 2.561vw;
    }
}

@media only screen and (max-width: 625px) {
    .rdtext {
        font-size: 3.961vw;
    }
}
 
@media only screen and (max-width: 500px)
{
    .rdtext {
        font-size: 4.961vw;
    }

}

.stdiv{
    margin-top: 0;
    opacity: 95%;
    display: block;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    background-image: url(../IMGs/chessboard_1920x1080blur.png);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 5vw;
    height: 100vh;
    border: 1px solid black;
}


.nddiv{
    display: block;
    background-image: url(../IMGs/goldpawns.jpeg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100vh;
    margin-top: 0vw;
    padding-top: 10vh;
}

.rddiv{
    padding-top: 5vh;
    margin-top: 0vw;
    display: block;
    background-image: url(../IMGs/Smoked.jpeg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100vh;
}

.div4{
    display: block;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    background-image: url(../IMGs/goldenchess.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 5vh;
    height: 100vh;
    border: 1px solid black;
}

.div5{
    display: block;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    background-image: url(../IMGs/goldenpiece.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    padding-top: 5vw;
    height: 100vh;
    border: 1px solid black;
}

.div6{
    display: block;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    background-image: url(../IMGs/wood.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100vh;
    border: 1px solid black;
}

.ststyled-list li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: left;
    font-size: 1.424vw;
    padding-left: 5vw;
    padding-bottom: 1vh;
    font-weight: 500;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
    opacity: 100%;
    list-style: none;
  }
  @media only screen and (max-width: 1000px) {
    .ststyled-list li {
        font-size: 1.824vw;
        padding-left: 3.5vw;
    }
}

  @media only screen and (max-width: 800px) {
    .ststyled-list li {
        font-size: 2.424vw;
        padding-left: 2.5vw;
    }
}

@media only screen and (max-width: 625px) {
    .ststyled-list li {
        font-size: 3.424vw;
        padding-left: 1vw;
    }
}

@media only screen and (max-width: 500px)
{
    .ststyled-list li {
        font-size: 4.424vw;
    }
    
}


  .ndstyled-list li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-align: right;
    font-size: 1.461vw;
    padding-right: 5vw;
    line-height: 1.5;
    list-style: none;
  }

  @media only screen and (max-width: 1000px) {
    .ndstyled-list li {
        font-size: 1.961vw;
        line-height: 1.25;
    }
}
  
  @media only screen and (max-width: 800px) {
    .ndstyled-list li {
        font-size: 2.461vw;
        line-height: 1.25;
    }
}

@media only screen and (max-width: 625px) {
    .ndstyled-list li {
        font-size: 3.461vw;
        line-height: 1;
    }
}
@media only screen and (max-width: 500px)
{
    .ndstyled-list li {
        font-size: 4.461vw;
        line-height: 1;
    }
    
}

  .rdstyled-list li {
    margin-top: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 1.261vw;
    padding-left: 3vw;
    line-height: 1.5;
    list-style: none;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
  }

  @media only screen and (max-width: 1000px)
    {
        .rdstyled-list li {
            font-size: 1.761vw;
            padding-left: 2.5vw;
        }
    }
  
  @media only screen and (max-width: 800px) {
    .rdstyled-list li {
        font-size: 2.261vw;
        padding-left: 2vw;
    }
}

@media only screen and (max-width: 625px) {
    .rdstyled-list li {
        font-size: 3.261vw;
        padding-left: 1vw;
    }
}

@media only screen and (max-width: 500px)
{
    .rdstyled-list li {
        font-size: 4.261vw;
    }
    
}

 .menuimage{
    width: 6vh;
    height: 6vh;
 }



.mybutton {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: 1.2vw;
    font-weight: 600;
  }

  @media only screen and (max-width: 1000px)
    {
        .mybutton {
            font-size: 1.6vw;
        }
    }

  @media only screen and (max-width: 800px) {
    .mybutton {
        font-size: 2.2vw;
    }
}

@media only screen and (max-width: 625px) {
    .mybutton {
        font-size: 3.2vw;
    }
}

@media only screen and (max-width: 500px)
{
    .mybutton {
        font-size: 4.2vw;
    }
    
}

  .buttoncontainer{
    padding-top: 5vh;
    padding-right: 5vw;
    display: flex;
    justify-content: end;
    align-items: center;
  }

.division{
    opacity: 100%;
    transition: ease-in-out 0.5s;
}

@media only screen and (max-width: 1000px)
{
    .division{
       opacity: 95%;
    }
}
