body{
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}

.grid-vertical{
    margin-top: 12.5vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 15vw;
    margin-right: 15vw;
    align-items: center;
    row-gap: 10vh;
    margin-bottom: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1000px) {
    .grid-vertical{
        row-gap: 7.5vh;
    }
}

@media only screen and (max-width: 700px) {
    .grid-vertical{
        row-gap: 1vh;
    }
}


.grid-horizontal{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 0.2fr;
    column-gap: 5%;
    margin-right: 5%;
}


@media only screen and (max-width: 700px) {
    .grid-horizontal{
        grid-template-columns: none;
        grid-template-rows: 0.5fr 0.5fr;
        align-items: center;
        margin-bottom: 3vh;
    }
}

.Name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  whitesmoke;
    text-align: left;
    font-size: 1.589vw;
    font-weight: 700;
    margin-top:0vh;
    margin-left: 2.5vw;
    padding-top: 0vh;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px) {
    .Name{
        font-size: 2.289vw;
    }
  }
  @media only screen and (max-width: 700px) {
    .Name{
        text-align: center;
        font-size: 3.289vw;
    }
  }  

.information{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  whitesmoke;
    text-align: justify;
    font-size: 1.089vw;
    font-weight: 400;
    margin-top:0vh;
    margin-left: 5vw;
    padding-top: 0vh;
    text-shadow: 4px 3px 4px black;
    opacity: 100%;
}

@media only screen and (max-width: 1000px) {
    .information{
        font-size: 1.589vw;
    }
}
@media only screen and (max-width: 700px) {
    .information{
        font-size: 2.09vw;
    }
}  

.profile-div{
    display: flex;
    justify-content: flex-end;
}

.profile-image{
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 10%;
}

@media only screen and (max-width: 1000px) {
    .profile-image{
        max-width: 25vw;
        max-height: 25vh;
    }
}
@media only screen and (max-width: 700px) {
    .profile-image{
        margin-left: auto;
        margin-right: auto;
        max-width: 40vw;
        max-height: 40vh;
    }
}  